<select id="from_lang" class="form-control">
    {% for language in languages %}
    <option data-lang="{{ language.language_id }}" value="{{ auto_content_translator_google_codes[language.language_id] }}">{{ language.name }}</option>
    {% endfor %}
</select>
<i class="fa fa-arrow-right" aria-hidden="true"></i>
<select id="to_lang" class="form-control">
    {% for language in languages %}
    <option data-lang="{{ language.language_id }}" value="{{ auto_content_translator_google_codes[language.language_id] }}">{{ language.name }}</option>
    {% endfor %}
</select>
<button id="translate_blog_post" data-toggle="tooltip" title="{{ text_translate }}" class="btn btn-warning"><i class="fa fa-globe" aria-hidden="true"></i></button>
<script>

$(document).on('click', '#translate_blog_post', function() {
  if(!confirm("Are you sure?")) {
    return;
  }
  var for_translate = 'blog_post';
  var from_lang_id = $('#from_lang').children("option:selected").attr('data-lang');
  var to_lang_id = $('#to_lang').children("option:selected").attr('data-lang');

  var from_lang_code = $('#from_lang').children("option:selected").val();
  var to_lang_code = $('#to_lang').children("option:selected").val();

  var title = $(`#input-title${from_lang_id }`).val();
  var short_description = $(`#input-short-description${from_lang_id }`).val();
  var description = $(`#input-description${from_lang_id }`).val();
  var meta_title = $(`#input-meta-title${from_lang_id }`).val();
  var meta_description = $(`#input-meta-description${from_lang_id }`).val();
  var meta_keyword = $(`#input-meta-keyword${from_lang_id }`).val();
  var tag = $(`#input-tag${from_lang_id }`).val();

  var to_title = $(`#input-title${to_lang_id }`).val();
  var to_short_description = $(`#input-short-description${to_lang_id }`).val();
  var to_description = $(`#input-description${to_lang_id }`).val();
  var to_meta_title = $(`#input-meta-title${to_lang_id }`).val();
  var to_meta_description = $(`#input-meta-description${to_lang_id }`).val();
  var to_meta_keyword = $(`#input-meta-keyword${to_lang_id }`).val();
  var to_tag = $(`#input-tag${to_lang_id }`).val();

  var to_lang = {
    "title": to_title, 
    "short_description": to_short_description
    "description": to_description,
    "meta_title": to_meta_title,
    "meta_description": to_meta_description,
    "meta_keyword": to_meta_keyword,
    "tag": to_tag
    }

    $.ajax({
        type: 'post',
        url: "{{ url }}",
        data: {
          for_translate: for_translate,
          from_lang_code: from_lang_code,
          to_lang_code: to_lang_code,
          title: title,
          short_description: short_description,
          description: description,
          meta_title: meta_title,
          meta_description: meta_description,
          meta_keyword: meta_keyword,
          tag: tag,
          to_lang: to_lang
        },
        dataType: 'json',
        beforeSend: function() {
            $('#form-post').fadeTo('slow', 0.5);
        },
        complete: function() {
            $('#form-post').fadeTo('slow', 1);
        },
        success: function(json) {
            if(json['title']) {
                $(`#input-title${to_lang_id}`).val(json['title']);
            }

            if(json['short_description']) {
                $(`#input-short-description${to_lang_id}`).val(json['short_description']);
            }

            if (json['description']) {
                    var current_element = $(`[name*="post_description[${to_lang_id}][description]"]`).attr('id');
                    
                    if (typeof CKEDITOR !== 'undefined' && CKEDITOR.instances[$(`[name*="post_description[${to_lang_id}][description]"]`).attr('id')]) {
                        CKEDITOR.instances[$(`[name*="post_description[${to_lang_id}][description]"]`).attr('id')].setData(json['description']);
                    } else if (typeof $('#' + current_element).attr('data-toggle') !== 'undefined' && $('#' + current_element).attr('data-toggle') == 'summernote') {
                        $('#' + current_element).summernote('code', json['description']);
                    }
                    
                    $(`[name*="post_description[${to_lang_id}][description]"]`).val(json['description']);
            } 

            if(json['meta_title']) {
                $(`#input-meta-title${to_lang_id}`).val(json['meta_title']);
            }

            if(json['meta_description']) {
                $(`#input-meta-description${to_lang_id}`).val(json['meta_description']);
            }

            if(json['meta_keyword']) {
                $(`#input-meta-keyword${to_lang_id}`).val(json['meta_keyword']);
            }

            if(json['tag']) {
                $(`#input-tag${to_lang_id}`).val(json['tag']);
            }

            if(json['error']) {
              $('.page-header .container-fluid').append('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }
        },
        error: function(json) {
            console.log(json);
        }
    });
});
</script>


